<template>
  <div>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Sentinel</a>
      <ul class="navbar-nav px-3"></ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <i class="far fa-home-lg-alt"></i>
                  Dashboard
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main
          role="main"
          class="col-md-9 ml-sm-auto col-lg-10 px-4"
          style="height: calc(100vh);overflow-x: hidden;overflow-y: auto;"
        >
          <div class="d-flex flex-column h-100">
            <div class="flex-shrink-0">
                <h1 class="h2">Dashboard</h1>
            </div>
            <footer class="footer mt-auto py-3">
              <div class="container">
                <span class="text-muted">Sentinel © 2020 - {{ new Date().getFullYear() }}</span>
              </div>
            </footer>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>
<script>
import { axios, toast } from "./app";

export default {
  name: "App",
  mounted() {
    console.log("Mounted");
    toast.fire({ title: "Mounted", icon: "success" });
  }
};
</script>